/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400,400i,500');

body {
  font-family: 'Kanit', sans-serif;
}

.online-tracker {
  position: fixed;
  top: 20px;
  right: 40px;
  background: #05ffa1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#online {
  color: black;
  font-size: 30px;
}

.page {
  font-size: 3em;
  background: url(/images/vaporwave.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 80px;
}

.chat {
  background: url(/images/chatground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.presentation {
  font-size: 3em;
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.link {
  color: #931cf9;
  text-decoration: none;
}


.slide {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}

.slide h1 {
  color: #05ffa1;
  font-weight: 500;
  letter-spacing: 10px;
  margin: 20px 0 35px;
  line-height: 1;
}

.slide ul {
  color: #fdf6e3;
  text-align: left;
  font-weight: 400;
  margin-top: 20px;
}

.slide .language-elixir {
  font-size: 25px;
}

.slide code.inline {
  background-color: #fdf6e3;
  padding: 10px;
  margin: 10px 0;
  overflow: auto;
  border-radius: 0.3em;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1);
}
.bottom .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5%;
  resize: none;
  overflow: scroll;
  font-weight: 300;
  font-size: 20px;
  -ms-overflow-style: none; overflow: -moz-scrollbars-none;
}
.bottom .input:focus {
  outline: none;
}
.bottom .input::-webkit-scrollbar {
  width: 0 !important;
}
.bottom .send {
  position: fixed;
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
  border: 0;
  background: #05ffa1;
  color: #ffffff;
  bottom: 10.66667px;
  right: 10.66667px;
}
.bottom .send:before {
  content: '';
  background: url(/images/send.png) no-repeat center center;
  background-size: 25.6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom .send:focus {
  outline: none;
}
.bottom .send:hover {
  cursor: pointer;
}
