<div>
  <div >
    <h2>Messages</h2>
    <ul id="messages"></ul>
  </div>
  <div class="bottom" id="bottom">
    <input class="input" id="input" placeholder="Type and press enter..."></input>
    <div class="send" id="send"></div>
  </div>
</div>
